S3_ENDPOINT=https://storage.yandexcloud.net
S3_REGION=ru-central1
S3_BUCKET=galakhova-coffee
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=

SUPERTOKENS_CONNECTION_URI=https://try.supertokens.com
SUPERTOKENS_API_KEY=
SUPERTOKENS_APP_NAME=British Coffee Shop
API_DOMAIN=http://localhost:3000
WEBSITE_DOMAIN=http://localhost:3000
ADMIN_EMAILS=admin@example.com
